---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300";
---
<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">About</a></li>
    <li><a class="py-3 text-base" id="research" href="/research">Research</a></li>
    <li><a class="py-3 text-base" id="publications" href="/publications">Publications</a></li>
    <li><a class="py-3 text-base" id="projects" href="/projects">Projects</a></li>
    <li><a class="py-3 text-base" id="services" href="/services">Services</a></li>
    <li><a class="py-3 text-base" id="news" href="/news">News</a></li>
</ul>
<script define:vars={{ sideBarActiveItemID, activeClass }}>
const el = document.getElementById(sideBarActiveItemID);
el && el.classList.add(activeClass);
</script>
